name: Test
on:
  push:
    branches:
      - main
  pull_request:
    types: ["opened", "synchronize"]

jobs:
  test:
    name: npm test
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup node"
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json

      - name: "Install dependencies"
        run: npm install

      - name: "Run tests"
        run: npm test

      - name: "Try build"
        run: npm run build
